*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #313131;
}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.client__login__card {
    margin: auto;
    margin-top: 200px;
    width: 600px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
    color: #eee;
    /* border: 1px solid rgba(100, 100, 100, 0.5); */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 6px 20px rgba(0, 0, 0, .1)
}

.client__login__card__top {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid #bbb;
    color: rgb(228, 228, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.client__login__card__mid {
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid #bbb;
}

.client__login__card__btm {
    width: 100%;
    padding: 1em;
    font-size: 12px;
}

.client__login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client__login__form label {
    text-align: left;
}

.client__login__form input {
    width: 75%;
    margin-bottom: 1em;
    padding: .75em;
    outline: none;
    border: 1px solid rgba(145, 149, 153, 0.7);
    border-radius: 3px;
    background-color: #444;
    color: #eee;
}

.client__login__form button {
    margin: .5em 0;
    padding: .75em;
    background-color: #222;
    color: #eee;
    border: 1px solid rgba(145, 149, 153, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

.client__login__form button:hover {
    background-color: #363636;
    border: 1px solid rgba(145, 149, 153, 0.7);
}

.client__login__error {
    width: fit-content;
    padding: .5em;
    background-color: #c23d3d;
    color: #eee;
    list-style: none;
    border-radius: 5px;
}

.client__login__success {
    width: fit-content;
    padding: .5em;
    background-color: #0aac22;
    color: #eee;
    list-style: none;
    border-radius: 5px;
}

.dateEl {
    padding: .5em;
    color: rgb(228, 228, 28);
}*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__form {
    width: fit-content;
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: rgba(145, 149, 153, 0.2) 0px 8px 24px;
}


.login__form input {
    margin: .5em 0;
    padding: .25em;
    outline: none;
    border: 1px solid rgba(145, 149, 153, 0.7);
    border-radius: 3px;
}

.login__form button {
    margin: .5em 0;
    padding: .5em;
    border: 1px solid rgba(145, 149, 153, 0.7);
    cursor: pointer;
}

.login__form button:hover {
    background-color: #fff;
    border: 1px solid rgba(145, 149, 153, 0.7);
}

.return_link {
    color: yellow;
    /* text-decoration: none; */
}